@font-face {
  font-family: Futura;
  src: url(./../fonts/FuturaCyrillicBook.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FuturaDemi;
  src: url(./../fonts/FuturaCyrillicDemi.ttf) format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Futura', sans-serif;
  --three-font-family: 'FuturaDemi', sans-serif;
  --page-background: #f4f4f4;
  --second-background: #ffffff;
  --three-background: #172139;
  --second-color: #ff6600;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/*Стили Шапка*/
.page {
  background-color: var(--page-background);
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 79px;
  background-color: var(--second-background);
}

.header-logo {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.header-logo-block {
  height: 42px;
  padding-left: 8px;
  margin-top: -11px;
}

.header-exit {
  margin-right: 30px;
}

/*Стили Основной контент*/
.main {
  padding-top: 30px;
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: row;
}

.aside {
  background-color: var(--second-background);
  width: 290px;
}
.aside-menu-list-item {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
}

.aside-menu-list-link {
  display: flex;
  flex-direction: row;
}

.aside-menu-list-item-text {
  margin-left: 16px;
  font-family: var(--secondary-font-family);
  font-size: 1.0625rem;
}

.aside-close-memu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-close-memu-text {
  margin-left: 15px;
  font-family: var(--secondary-font-family);
  font-size: 1.0625rem;
  color: var(--second-color);
}

.aside-menu-list-item:hover {
  background-color: var(--three-background);
}

.aside-menu-list-link:activ {
  background-color: var(--three-background);
}

.aside-menu-list-item:hover > a {
  color: var(--page-background);
}

.title {
  font-family: var(--three-font-family);
  font-size: 2rem;
  color: #000;
}

/*Стили Подвал*/
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: var(--second-background);
}

.footer-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  margin-left: auto;
}

.footer-link-text {
  color: var(--second-color);
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 400;
  margin-left: 7px;
}

.footer-block-text {
  color: #a5a5a5;
  font-size: 0.75rem;
  font-family: var(--font-family);
}

.footer-block-text.text2 {
  margin-left: 30px;
}

.popap {
  display: none;
}

.popap::backdrop {
  background-color: rgba(23, 33, 57, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
}

.popap-active {
  display: block;
  /* width: 440px;
  height: 504px;
  background-color: #ffffff;
  position: absolute;
  top: calc((100vh / 2) - 250px);
  left: calc((100vw / 2) - 220px);
  z-index: 999; */
}

.popap-container {
  width: 440px;
  height: 504px;
  background-color: #ffffff;
  position: absolute;
  top: calc((100vh / 2) - 250px);
  left: calc((100vw / 2) - 220px);
  z-index: 999;
}
